

:root {
    --winter-sky: rgb(253, 197, 0);
    --black: rgb(12, 12, 12);
    --white-nav: rgb(232, 232, 232);
    --blue-Header: rgb(0, 63, 136);
    --gray_input_email: rgb(198, 195, 195);
    --white-1: rgb(255, 255, 255);
    --light-gray: rgb(204, 204, 204);
    --ultramarine: rgb(75, 0, 224);
    --cultured-1: rgb(250, 250, 250);
  
    
      --ff-spartan: 'League Spartan', sans-serif;
      --fs-1: 3rem;
      --fs-2: 2.7rem;
      --fs-3: 2.2rem;
      --fs-4: 1.8rem;
      --fs-5: 1.6rem;
      --fw-500: 500;
      --fw-600: 600;
     
      --section-padding: 60px;
    
      --shadow-1: 0 2px 25px hsla(0, 0%, 0%, 0.1);
      --shadow-2: 0 8px 14px hsla(0, 0%, 0%, 0.1);
      --shadow-3: 0 14px 30px hsla(0, 0%, 0%, 0.05);
    
      --radius-6: 6px;
      
    }
  
    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    li { list-style: none; }
    
    a {
      text-decoration: none;
      color: inherit;
    }
    
    a,
    img,
    span,
    input,
    button{ display: block; }
    
    img { height: auto; }
    
    input,
    button {
      background: none;
      border: none;
      font: inherit;
    }
    
    input { width: 100%; }
    
    button { cursor: pointer; }
    

    

    .back_main{
      background-color: hsla(0, 0%, 95%, 0.776);
    }
  
    .section { padding-block: var(--section-padding); }
    
    .w-100 { width: 100%; }
    
    .h1,
    .h2,
    .h3 {
      color: var(--black);
      font-weight: 900;
      line-height: 1.3;
    }
    
    .h1 { font-size: var(--fs-1); }
    
    .h2 { font-size: var(--fs-2); }
    
    .h3 {
      font-size: var(--fs-3);
      font-weight: var(--fw-600);
    }
    
    .section-text { line-height: 1.7; }
    
    .btn {
      min-height: 50px;
      color: var(--white-1);
      padding-inline: 25px;
      border-radius: var(--radius-6);
    }
    
    .btn-primary{ 
      
      background-color: var(--winter-sky);
      width: 150px;
      height: 40px;
      cursor: pointer;
      border-radius: var(--radius-6);
    }
  
    .ErrorMs{
      padding-left: 20px;
      padding-top: 10px;
      margin-top: 20px;
      background-color: rgb(235, 80, 80);
      width: 550px;
      height: 40px;
      cursor: pointer;
      border-radius: var(--radius-6);
      color: #f0f8ff;
    }
  
    .ErrorMsLarge{
      margin-top: 20px;
      background-color: rgb(235, 80, 80);
      width: 950px;
      height: 50px;
      cursor: pointer;
      border-radius: var(--radius-6);
      color: #f0f8ff;
    }
  
    
    .btn-link {
      display: flex;
      align-items: center;
      gap: 5px;
      transition: var(--transition-1);
    }
    
    .btn-link:is(:hover, :focus) { letter-spacing: 0.3px; }
  
  
  
  ////////////////////////////////////////
  ///   SECTION HEADER/////////////////
  /// ////////////////////////////////
  
    .header-logo {
     cursor: pointer;
     width: 90px;
    }
  
  
    .header .btn { 
      display: none; 
    }
  
    .header {
      background-color: var(--blue-Header);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      
   

      
    }
    
    .header.active {
      position: fixed;
      top: -75px;
      box-shadow: var(--shadow-1);
      animation: slide-in 0.5s cubic-bezier(0.33, 0.85, 0.4, 0.96) forwards;
    }
    
    @keyframes slide-in {
      0% { transform: translateY(0); }
      100% { transform: translateY(75px); }
    }
    
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10%;
      padding-right: 10%;
      gap: 20px;
    }
    
    
    
    .nav-toggle-btn { font-size: 30px; }
    
    .nav-toggle-btn.active .menu-icon,
    .nav-toggle-btn .close-icon { display: none; }
    
    .nav-toggle-btn .menu-icon,
    .nav-toggle-btn.active .close-icon { display: block; }
    
  
    .close-icon {
      width: 20px;
    }
    .menu-icon{
  
      width: 20px;
    }
  
    .navbar {
      position: absolute;
      top: 100%;
      left: 50%;
      width: calc(100% - 30px);
      transform: translateX(-50%);
      background-color: #4e93b6;
      box-shadow: var(--shadow-2);
      overflow: hidden;
      visibility: hidden;
      max-height: 0;
      transition: 0.25s cubic-bezier(0.33, 0.85, 0.4, 0.96);
    }
    
    .navbar.active {
      visibility: visible;
      max-height: 300px;
      transition-duration: 0.35s;
    }
    
  
    
    .navbar-link {
      color: var(--white-nav);
      font-size: var(--fs-4);
      font-weight: var(--fw-500);
      padding: 16px;
      transition: var(--transition-1);
    }
    
    .navbar-link:is(:hover, :focus) { color: var(--winter-sky); }
  
  
    ////////////////////////////       //////
    /////////// Organize Your Travel section  //   
    /////////////////////////////////////////////
    
    .Travel {
      padding-block-start: calc(73px + var(--section-padding));
      background-color: var(--cultured-1);
    }
    
    .Travel-banner {
      background-color: var(--light-gray);
      aspect-ratio: 1 / 0.8;
    }
    
    .Travel-title { margin-block: 30px 15px; }
    
    .Travel-form { 
      margin-block: 20px 30px;
      width: 50%;
    }
    
    .input-field {
      background-color: var(--gray_input_email);
      padding: 20px 15px;
      border-radius: var(--radius-6);
      margin-block-end: 15px;
    }
    
    
    .input-field:focus::placeholder { opacity: 0; }
    
   .enterInfo{
  
    margin-top: 50px;
   }
    
    .service { background-color: var(--white-1); }
    
    .service :is(.section-title, .section-text) { text-align: center; }
    
    .service .section-text { margin-block: 10px 35px; }
    
    .service-list {
      display: grid;
      gap: 25px;
    }
    
    .service-card {
      border-radius: var(--radius-6);
      overflow: hidden;
      box-shadow: var(--shadow-1);
    }
    
    .service-card .card-banner {
      background-color: var(--light-gray);
      aspect-ratio: 1 / 0.47;
    }
    
    .arrow_2{
  
      width: 25px;
    }
  
    .service-card .card-content { padding: 20px; }
    
    .service-card .card-title { transition: var(--transition-1); }
    
    .service-card .card-title:is(:hover, :focus) { color: var(--winter-sky); }
    
    .service-card .card-text {
      margin-block: 10px 20px;
      line-height: 1.8;
    }
    
    .service-card .btn-link { color: var(--ultramarine); }
     
   
    
    .Comission { 
  
      background-color: var(--white-1);
  
     }
    
    .Comission .section-text { margin-block: 10px 15px; }
    
    .Comission-content { margin-block-end: 25px; }
    
  
    .bussines_logos{
  
      width: 90px;
    }
  
  
    .Comission-item {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: var(--white-1);
      padding: 15px;
      box-shadow: var(--shadow-3);
      border-radius: var(--radius-6);
    }
    
    .Comission-item:not(:last-child) { margin-block-end: 15px; }
    
    .Comission-item .item-title {
      color: var(--black);
      font-size: var(--fs-5);
      font-weight: var(--fw-600);
    }
    
  
   ////////////////////////////////////////////////
   ///        REVIEW SECTION//////////////////////
   ///////////////////////////////////////////////
  
    .about { text-align: center; }
    
    .about .section-text:first-of-type 
    { 
      margin-block: 5px 30px;
     }
    
    .about-list {
      display: grid;
      gap: 25px;
    }
    
    .about-card {
      color: var(--white-1);
      padding: 20px;
      border-radius: 12px;
    }
    
    .about-card-1 { 
      background-color: #2d9bd7;
    }
    
    .about-card-2 { 
      background-color:#2d9bd7 ;
    }
    
    
    .about-card .card-banner {
      min-width: 150px;
      height: 150px;
      aspect-ratio: 1 / 1;
      background-color: var(--light-gray);
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin-inline: auto;
      transition: var(--transition-2);
    }
    
    .user_pic{
  
      width: 90px;
    }
  
  
    .about-card:is(:hover, :focus-within) .card-banner { background-color: var(--white-1); }
    
    .about-card .card-title {
      color: var(--white-1);
      margin-block: 20px 10px;
    }
    
    .about-card .card-text {
      line-height: 1.8;
      margin-block-end: 15px;
    }
    
    .about .btn-link { justify-content: center; }
    
    .about .section-text:last-of-type {
      max-width: 50ch;
      margin-inline: auto;
      margin-block-start: 25px;
    }
    
    .about .section-text:last-of-type .btn-link {
      color: #8d2ce2;
      display: inline-flex;
    }
    
    .about .section-text:last-of-type .btn-link:is(:hover, :focus) {
      color: var(--winter-sky);
      letter-spacing: 0;
    }
    
  
    .support {
      background-image: var(--gradient-2);
      color: var(--white-1);
    }
    
    .support .section-title { color: var(--white-1); }
    
    .support .section-text { margin-block: 10px 15px; }
    
    .support .btn {
      max-width: max-content;
      display: grid;
      place-items: center;
    }
    
 
   ///////////////////////////////////////////////
   ///     RESPONSIVE DESIGN   ///////////////////
   ///////////////////////////////////////////////
    @media (min-width: 45px) {
      .nav-toggle-btn { 
        display: none;
       }
      .navbar,
      .navbar.active { 
        all: unset; 
      }
    
      .navbar-list {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
      .container { 
        max-width: 540px;
        margin-inline: auto;
        
      }
     

      .Travel-form { position: relative; }
    
      .Travel-form .btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
      }
  
      .service-list,
      .about-list,
      .container { 
        grid-template-columns: 1fr 1fr; 
      }
   
      //////REVIEW SECTION/////
      .about-card {
         min-height: 100%;
         }
  
      .logo {
        width: 50px;
      }
      .ErrorMsLarge{
        margin-top: 20px;
        background-color: rgb(235, 80, 80);
        width: 100px;
        height: 80px;
        cursor: pointer;
        border-radius: var(--radius-6);
        color: #f0f8ff;
      }
    }
   
    ///responsive for large than 768px screen/////
     
  
    @media (min-width: 768px) {
      body { font-size: 2rem; }
  
      :root {
        --fs-1: 5rem;
        --fs-2: 3.5rem;
        --fs-3: 2.5rem;
    
      }


    


      .navbar,
      .navbar.active { 
        all: unset; 
      }
    
      .navbar-list {
        display: flex;
        flex-direction: row;
        gap: 2px;
      }


      .container { max-width: 720px; }
    
        ///// HEADER////
    
      .header .btn {
        font-size: 1.7rem;
        font-weight: var(--fw-500);
        min-height: 45px;
        padding-inline: 25px;
        
      }
      .service-card { --radius-6: 16px; }
      .service-card .card-content { padding: 30px; }
      .Comission-item .item-title { --fs-5: 2rem; }
  
    }
  
    //////// responsive for large than 992px screen////
     
    
    @media (min-width: 992px) {
    
     
     
      :root {
        --fs-2: 4rem;
        --fs-3: 2.9rem;
    
        --section-padding: 100px;
      }
    
      .logo{
        width: 80px;
       }
    
      .container { max-width: 960px; }
    
      :is(.service, .about) .section-text {
        max-width: 55ch;
        margin-inline: auto;
      }
    
      .nav-toggle-btn { 
        display: none;
       }
      .navbar,
      .navbar.active { 
        all: unset; 
      }
    
      .navbar-list {
        display: flex;
        gap: 5px;
      }
    
      .navbar-link {
         --fs-4: 2rem; 
        }
    
      .header .btn {
        margin-inline-start: 0;
        min-height: 50px;
        padding-inline: 40px;
      }
    
      .Travel .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;
      }
    
      .Travel-title { 
        margin-block-start: 0;
       }
    
      .service-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }
    
      .Comission .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 25px;
      }
    
      .Comission-content { margin-block-end: 0; }
      .Comission-item { padding: 20px; }
      .Comission-item:not(:last-child) { margin-block-end: 20px; }
      .Comission-item .item-title { --fs-5: 2.4rem; }
      .about-list { gap: 30px; }
      .about-card { padding: 40px; }
    
      .support .container {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        justify-items: self-end;
        align-items: center;
      }
     
    
    ///////responsive for large than 1200px screen//////
     
    @media (min-width: 1200px) {
      :root {
        --fs-1: 6rem;
        --fs-2: 5rem;
    
      }
      .logo{
        width: 80px;
       }
  
      .container { max-width: 1140px; }
    
      .Comission .container {
        grid-template-columns: 1fr max-content;
        gap: 70px;
      }
    
      .about-card {
        display: flex;
        align-items: center;
        gap: 30px;
        text-align: left;
      }
      .about-card .card-title { margin-block-start: 0; }
      .about .btn-link { justify-content: flex-start; }
    }}